/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.container-wide {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1500px; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #191212;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box_v2 {
  padding: 3px 6px;
  margin: 2px;
  background: #000;
  color: #777;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box_v3 {
  padding: 3px 6px;
  margin: 2px;
  background: #777;
  color: #000;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
/* Tool Tip Style */
.tooltip {
  display: inline-block;
  position: relative;
  margin-left: 0.5em;
}

.tooltip__icon {
  background: #27b1f0;
  color: #FFF;
  border-radius: 50%;
  /* Makes the icon circular */
  cursor: pointer;
  display: inline-flex;
  /* Center content */
  align-items: center;
  /* Center content vertically */
  justify-content: center;
  /* Center content horizontally */
  font-size: 14px;
  /* Adjusted for readability */
  width: 20px;
  height: 20px;
  font-family: Courier New, Arial, Helvetica, sans-serif;
  /* Web-safe fonts */
}

.tooltip__content {
  display: none;
  background: #262626;
  border: 1px solid #27b1f0;
  border-radius: 3px;
  color: #FFF;
  /* Improved readability */
  font-size: 1rem;
  font-weight: normal;
  /* Adjusted for better readability */
  padding: 1em;
  position: absolute;
  left: 100%;
  /* Position to the right of the icon */
  top: 50%;
  transform: translate(0, -50%);
  /* Center vertically relative to the icon */
  width: 250px;
  z-index: 100;
  /* Adjusted based on z-index strategy */
}

.tooltip__content::before,
.tooltip__content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 5px 10px 5px 0;
  /* Adjusted for a smaller arrow */
  border-color: transparent #27b1f0 transparent transparent;
}

.tooltip__content::after {
  border-color: transparent #262626 transparent transparent;
  left: -9px;
  /* Adjust arrow position */
}

.tooltip__content .content__title {
  color: #fa00f3;
}

.tooltip:hover .tooltip__content,
.tooltip:focus .tooltip__content {
  display: block;
}

@media (max-width: 1400px) {
  .tooltip__content {
    left: auto;
    right: 100%;
    /* Adjust tooltip for smaller screens */
    top: auto;
    bottom: 100%;
    transform: translate(0, 10px);
    /* Adjust position for visibility */
  }
}