---
theme :
  name : twitter
layout: default_codex_layout
---
{% include JB/setup %}

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="span4">
<ul class="nav nav-pills nav-stacked">
  <h3>Codex navigation</h3>


{% assign lvl2_pages = site.pages | where_exp:"item", "item.type == 'lvl2'" %}
{% assign lvl3_pages = site.pages | where_exp:"item", "item.type == 'lvl3'" %}
{% assign lvl4_pages = site.pages | where_exp:"item", "item.type == 'lvl4'" %}


{% assign codex_pages = site.pages | where_exp:"item", "item.type == 'top_level_codex_page'"  %}

{% for codex_page in codex_pages %}


<!-- this can be an include begin -->
      {% if page.url == codex_page.url %}
        <li class="active">
      {% else %}
        <li>
      {% endif %}
      <a href="{{ codex_page.url }}">{{ codex_page.title }}</a></li>

<!-- this can be an include end -->

        {% for lvl2_page in lvl2_pages %}
          {% if lvl2_page.tag == codex_page.tag and page.tag == codex_page.tag %}

            {% if page.url == lvl2_page.url %}
              <li class="vstepano active">
            {% else %}
              <li class="vstepano">
            {% endif %}
            <a href="{{ lvl2_page.url }}">&#9677; {{ lvl2_page.title }}</a></li>

            {% for lvl3_page in lvl3_pages %}
              {% if lvl3_page.lvl2_tag == lvl2_page.lvl2_tag and page.lvl2_tag == lvl2_page.lvl2_tag or page.lvl3_tag == lvl3_page.lvl3_tag %}
              
                {% if page.url == lvl3_page.url %}
                  <li class="vstepano2 active">
                {% else %}
                  <li class="vstepano2">
                {% endif %}
                <a href="{{ lvl3_page.url }}">&#9678; {{ lvl3_page.title }}</a></li>



                  {% for lvl4_page in lvl4_pages %}
                    {% if lvl4_page.lvl3_tag == lvl3_page.lvl3_tag and page.lvl3_tag == lvl3_page.lvl3_tag %}
                      {% if page.url == lvl4_page.url %}
                        <li class="vstepano3 active">
                      {% else %}
                        <li class="vstepano3">
                      {% endif %}
                      <a href="{{ lvl4_page.url }}">&#9676; {{ lvl4_page.title }}</a></li>


                  {% endif %}
                {% endfor %}

              {% endif %}
            {% endfor %}

          {% endif %}
        {% endfor %}
      
{% endfor %}


</ul>
</div>

<div class="row">
  <div class="vertical-line"></div>
  <div class="span8">
    {{ content }}
  </div>
</div>

